.top {
    .cont1 {
        background: url(../../../assets/images/top/mv.webp) no-repeat center center / cover;
        width: 100%;
        min-height: calc(100vh - 138px);
        position: relative;

        .cont1__text {
            position: absolute;
            content: "";
            @include top(380px);
            @include left(270px);
            @include fs(48px);
            font-weight: $medium;
            @include fontZen;
            letter-spacing: 0.075em;
            line-height: calc(64 / 48);
            color: #FFFFFF;
        }

        .cont1__time {
            position: absolute;
            @include bottom(0);
            @include left(0);
            content: "";
        }

        .circle__logo {
            position: absolute;
            content: "";
            right: 10%;
            top: 30%;
            animation: 8s linear infinite rotation1;
            display: inline-block;
            width: 543px;
            height: 548px;
        }
    }

    .cont2 {
        background: #F0FFEF;
        @include pt(48px);
        @include pb(50px);

        .wrap-1080 {
            display: flex;
            justify-content: center;
            align-items: center;

            .cont2__treatment {
                @include fs(28px);
                @include width(28%);
            }

            ul {
                display: flex;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
                @include width(70%);

                li {
                    @include width(calc(25% - 17px * 3/4));
                    text-align: center;
                    background: #FFFFFF;
                    border-radius: 8px;
                    position: relative;

                    &:after {
                        @include arrow-right;
                        @include bottom(8px);
                        @include left(50%);
                        @include tx(-50%);
                        transition-duration: 0.5s;
                    }

                    &:not(:nth-of-type(4n + 1)) {
                        @include ml(17px)
                    }

                    &:nth-of-type(n + 5) {
                        @include mt(16px)
                    }

                    &:hover {
                        &::after {
                            @include tx(0%);
                        }
                    }

                    a {
                        display: block;
                        @include pt(19px);
                        @include pb(21px);
                    }

                    div {
                        @include fs(14px);
                        @include mt(6px);
                        font-weight: $bold;
                        letter-spacing: 0.064em;
                    }
                }
            }
        }
    }

    .cont3 {
        @include pt(56px);
        overflow: hidden;
        position: relative;
        @include mb(100px);

        .wrap-1280 {
            position: relative;

            .logo {
                position: absolute;
                content: "";
                top: -106px;
                left: -182px;
                z-index: -1;
                animation: 8s linear infinite rotation1;
            }

            h2 {
                text-align: center;
            }

            .cont3__flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include mt(40px);

                figure {
                    @include width(50%);
                }

                div {
                    font-weight: $bold;
                    @include fs(32px);
                    position: relative;
                    @include width(45%);
                    letter-spacing: 0.12em;

                    &::after {
                        position: absolute;
                        top: -192px;
                        left: 320px;
                        content: "";
                        background: url(../../../assets/images/top/cont3-teeth.webp) no-repeat center center / contain;
                        width: 262px;
                        height: 191px;
                    }

                    p {
                        @include mt(56px);
                        @include fontJose;
                        @include fs(17px);
                        color: #32B584;
                        position: relative;
                        @include pl(23px);
                        border-bottom: 1px #32B584 solid;
                        line-height: calc(20/17);
                        @include width(60px);

                        &:before {
                            @include arrow-right;
                            @include top(30%);
                            @include ty(-50%);
                            @include left(0);
                            transition-duration: 0.5s;
                        }

                        &:hover {
                            &:before {
                                @include left(5px);
                            }
                        }
                    }
                }
            }

            ul {
                max-width: 1080px;
                @include width(100%);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin: 0 auto;
                @include mt(64px);

                li {
                    @include width(calc(30% - 30px * 2/3));
                    @include fs(20px);
                    font-weight: $bold;
                    position: relative;
                    border-bottom: 1px solid #DDDDDD;
                    @include pl(31px);
                    line-height: 2.2;

                    &:not(:nth-of-type(3n+1)) {
                        @include ml(30px);
                    }

                    &:nth-of-type(n+4) {
                        @include mt(16px);
                    }

                    &:before {
                        @include arrow-right;
                        @include top(50%);
                        @include ty(-50%);
                        @include left(0);
                        transition-duration: 0.5s;
                    }

                    &:hover {
                        &::before {
                            @include left(3%);
                        }
                    }
                }
            }
        }
    }

    .cont4 {
        background: #D8FBD1;
        @include pt(88px);
        overflow: hidden;

        h2 {
            position: relative;
            margin: 0 auto;
            text-align: center;
            @include width(150px);

            &:before {
                position: absolute;
                content: "";
                background: url(../../../assets/images/top/cont4-h2-left.webp) no-repeat center center / contain;
                @include width(117px);
                @include height(123px);
                @include left(-128px);
                @include top(50%);
                @include ty(-50%);
            }

            &::after {
                position: absolute;
                content: "";
                background: url(../../../assets/images/top/cont4-h2-right.webp) no-repeat center center / contain;
                @include width(117px);
                @include height(123px);
                @include left(160px);
                @include top(50%);
                @include ty(-50%);
            }
        }

        .slider {
            @include mt(90px);
            position: relative;

            &:before {
                position: absolute;
                content: "";
                @include top(-42px);
                @include left(50%);
                @include tx(-50%);
                background: url(../../../assets/images/top/cont4-text.svg) no-repeat center center / contain;
                width: 1508px;
                height: 101px;
                z-index: 1;
            }
        }

        .cont4__flex {
            display: flex;
            justify-content: space-between;
            @include mt(60px);

            div {
                @include width(45%);
                @include mt(24px);

                strong {
                    @include fs(24px);
                    letter-spacing: 0.012em;
                    font-weight: $bold;
                }

                p {
                    @include mt(32px);
                    @include fs(16px);
                    font-weight: $bold;
                }

                small {
                    @include fs(14px);
                    font-weight: $bold;
                    @include fontJose;
                    color: #32B584;
                    display: block;
                    @include mt(48px);
                    span {
                        @include fs(24px);
                        display: block;
                        @include mt(8px);
                    }
                }
            }

            figure {
                @include width(50%);
            }
        }
    }
}